<th:block th:fragment="diagnosis_selector">

    <select id="diagnosis" name="diagnosis">

        <option>Select Diagnosis</option>

        <option th:if="${#lists.isEmpty(diagnosisList)}"
                value="">No diagnosis matching the requirements
        </option>

        <option th:unless="${#lists.isEmpty(diagnosisList)}"
                th:each="diagnosisOption : ${diagnosisList}"
                th:value="${diagnosisOption.fullDiagnosis}"
                th:text="${diagnosisOption.fullDiagnosis}">Placeholder
        </option>
    </select>
</th:block>
