<th:block th:fragment="specializations">
        <div class="category-filter">
            <a th:href="@{/doctors}"
               th:classappend="${category == null} ? ' active' : ''" class="category-btn">ALL
            </a>
            <a th:href="@{/doctors(category='CARDIOLOGIST')}"
               th:classappend="${category == T(com.github.stoynko.easydoc.shared.enums.Expertise).CARDIOLOGIST} ? ' active' : ''"
               class="category-btn">CARDIOLOGY
            </a>
            <a th:href="@{/doctors(category='ORTHOPEDIST')}"
               th:classappend="${category == T(com.github.stoynko.easydoc.shared.enums.Expertise).ORTHOPEDIST} ? ' active' : ''"
            class="category-btn">ORTHOPEDICS
            </a>
            <a th:href="@{/doctors(category='SURGEON')}"
               th:classappend="${category == T(com.github.stoynko.easydoc.shared.enums.Expertise).SURGEON} ? ' active' : ''"
               class="category-btn">SURGERY
            </a>
            <a th:href="@{/doctors(category='PEDIATRICIAN')}"
               th:classappend="${category == T(com.github.stoynko.easydoc.shared.enums.Expertise).PEDIATRICIAN} ? ' active' : ''"
               class="category-btn">PEDIATRICS
            </a>
            <a th:href="@{/doctors(category='UROLOGIST')}"
               th:classappend="${category == T(com.github.stoynko.easydoc.shared.enums.Expertise).UROLOGIST} ? ' active' : ''"
               class="category-btn">UROLOGY
            </a>
            <a th:href="@{/doctors(category='GASTROENTEROLOGIST')}"
               th:classappend="${category == T(com.github.stoynko.easydoc.shared.enums.Expertise).GASTROENTEROLOGIST} ? ' active' : ''"
               class="category-btn">GASTROENTEROLOGY
            </a>
            <a th:href="@{/doctors(category='ENT')}"
               th:classappend="${category == T(com.github.stoynko.easydoc.shared.enums.Expertise).ENT} ? ' active' : ''"
               class="category-btn">ENT
            </a>
        </div>
</th:block>

<th:block th:fragment="user-roles">

    <div class="category-filter">
        <a th:href="@{/users}"
           th:classappend="${role == null} ? ' active' : ''" class="category-btn">ALL
        </a>

        <a th:href="@{/users(role=${T(com.github.stoynko.easydoc.shared.enums.AccountRole).PATIENT})}"
           class="category-btn"
           th:classappend="${role == T(com.github.stoynko.easydoc.shared.enums.AccountRole).PATIENT} ? ' active' : ''">
            PATIENTS
        </a>

        <a th:href="@{/users(role=${T(com.github.stoynko.easydoc.shared.enums.AccountRole).DOCTOR})}"
           class="category-btn"
           th:classappend="${role == T(com.github.stoynko.easydoc.shared.enums.AccountRole).DOCTOR} ? ' active' : ''">
            DOCTORS
        </a>
    </div>
</th:block>
