<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{pages/main_layout :: layout(~{::title},
                                    ~{::body[@data-fragment='body']},
                                    ~{::th:block[@data-fragment='head']},
                                    ~{::th:block[@data-fragment='scripts']}
      )}">
<head>
    <meta charset="UTF-8">
    <title data-fragment="title">Prescriptions</title>
    <th:block data-fragment="head">
        <link rel="stylesheet" th:href="@{/css/prescriptions.css}">
    </th:block>
</head>
<body data-fragment="body">

<!-- HEADER-->
<header th:insert="~{fragments/components/header :: header_auth}"></header>

<div class="workspace-container">

    <!-- SIDEBAR -->
    <aside th:insert="~{fragments/components/sidebar_navigation :: workspace_navigation}" class="sidebar"></aside>


    <!-- MAIN CONTENT-->
    <main class="main-content" th:switch="${role}">
        <th:block th:case="${T(com.github.stoynko.easydoc.models.enums.AccountRole).DOCTOR}"
                  th:insert="~{fragments/reports :: doctor_reports}"></th:block>

        <th:block th:case="${T(com.github.stoynko.easydoc.models.enums.AccountRole).PATIENT}"
                  th:insert="~{fragments/reports :: patient_reports}"></th:block>
    </main>
</div>

</body>
</html>
