<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{main_layout :: layout(~{::title},
                                    ~{::body[@data-fragment='body']},
                                    ~{::th:block[@data-fragment='head']},
                                    ~{::th:block[@data-fragment='scripts']}
      )}">

<head>
    <meta charset="UTF-8">
    <title data-fragment="title">EasyDoc</title>
    <th:block data-fragment="head">
        <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    </th:block>
</head>

<body data-fragment="body">

<!-- HEADER-->
<header sec:authorize="isAnonymous()" th:insert="~{fragments/header :: header}"></header>
<header sec:authorize="isAuthenticated()" th:insert="~{fragments/header :: header_auth}"></header>

<div class="workspace-container">

    <th:block th:switch="${errorMessage}">

        <th:block th:case="registrationFailed">
            <th:block th:insert="~{fragments/error_messages :: registration_failure}"></th:block>
        </th:block>

        <th:block th:case="tokenVerificationFailure">
            <th:block th:insert="~{fragments/error_messages :: token_verification_failure}"></th:block>
        </th:block>

        <th:block th:case="onboardingAccountInfoSubmitFailure">
            <th:block th:insert="~{fragments/error_messages :: onboarding_account_info_submit_failure}"></th:block>
        </th:block>

        <th:block th:case="onboardingDoctorInfoSubmitFailure">
            <th:block th:insert="~{fragments/error_messages :: onboarding_doctor_info_submit_failure}"></th:block>
        </th:block>

        <th:block th:case="emailVerificationCheckFailure">
            <th:block th:insert="~{fragments/error_messages :: email_verification_failure}"></th:block>
        </th:block>

        <th:block th:case="authorityCheckFailure">
            <th:block th:insert="~{fragments/error_messages :: authority_check_failure}"></th:block>
        </th:block>

        <th:block th:case="canBookCheckFailure">
            <th:block th:insert="~{fragments/error_messages :: can_book_check_failure}"></th:block>
        </th:block>

        <th:block th:case="canSubmitApplicationCheckFailure">
            <th:block th:insert="~{fragments/error_messages :: can_submit_application_check_failure}"></th:block>
        </th:block>


    </th:block>


</div>
</body>
</html>
