<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{main_layout :: layout(~{::title},
                                    ~{::body[@data-fragment='body']},
                                    ~{::th:block[@data-fragment='head']},
                                    ~{::th:block[@data-fragment='scripts']}
      )}">
<head>
    <meta charset="UTF-8">
    <title data-fragment="title">Appointments</title>
    <th:block data-fragment="head">
        <link rel="stylesheet" th:href="@{/css/appointments.css}">
    </th:block>
</head>
<body data-fragment="body">

<th:block data-fragment="scripts"></th:block>

<!-- HEADER-->
<header th:insert="~{fragments/header :: header_auth}"></header>

    <div class="workspace-container">

    <!-- SIDEBAR -->
        <aside th:insert="~{fragments/sidebar_navigation :: workspace_navigation}" class="sidebar"></aside>

        <main class="main-content">

            <th:block sec:authorize="hasRole('PATIENT')">

                <!-- UPCOMING APPOINTMENTS-->
                <div class="dashboard-card">
                    <p> ACTIVE PRESCRIPTIONS</p>

            </div>

                <!-- EXPIRED PRESCRIPTIONS -->
                <div class="dashboard-card">

                    <p> EXPIRED PRESCRIPTIONS</p>
            </div>

             </th:block>

            <th:block sec:authorize="hasRole('DOCTOR')">

            <!-- ACTIVE PRESCRIPTIONS -->
            <div class="dashboard-card">

                <p> ACTIVE PRESCRIPTIONS</p>

            </div>

            <!-- EXPIRED PRESCRIPTIONS-->
            <div class="dashboard-card">

                <p> EXPIRED PRESCRIPTIONS</p>
            </div>
        </th:block>

        </main>
    </div>

</body>
</html>
